* {
    margin: 0;
}

.game {
    background-image: url("/Graphics/bg.png");
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 0;
    background-size: cover;
    /* background-color: red; */
}

.game>.air_fill_box {
    position: absolute;
    width: 23%;
    height: 47%;
    top: 55%;
    left: 77%;
    z-index: 6;
    animation-name: animatebox;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes animatebox {
    0% {
        width: 23%;
        left: 77%;
    }
    100% {
        width: 25%;
        left: 76%;
    }
}

.game>.air_fill_wire {
    position: absolute;
    width: 27%;
    height: 40%;
    top: 55%;
    left: 61%;
    z-index: 5;
}

.game>.air_fill_pump {
    position: absolute;
    width: 20%;
    height: 50%;
    top: 26%;
    left: 78%;
    z-index: 5;
    animation-name: animatepump;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-iteration-count: infinite;
}

@keyframes animatepump {
    0% {
        top: 26%;
    }
    50% {
        top: 38%;
    }
    75% {
        top: 32%;
    }
    100% {
        top: 26%;
    }
}

@keyframes blast {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(2, 2);
    }
}

.bubble {
    position: absolute;
    width: 8%;
    height: 18%;
    background-image: url(/Graphics/blnclr1.png);
    /* background-color: blue; */
    left: 63.5%;
    top: 49.4%;
    /* left: 0%; */
    /* top: 0%; */
    z-index: 4;
    background-size: cover;
    background-repeat: repeat;
    animation-name: fillb;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes fillb {
    0% {
        transform: scale(0, 0);
        top: 57.4%;
    }
    100% {
        transform: scale(1, 1);
        top: 50%;
    }
}

.dn {
    display: none;
}

.bubble>.cb {
    position: absolute;
    background-image: url(/Graphics/letter1.png);
    /* background-color: black; */
    width: 40%;
    height: 45%;
    top: 20%;
    left: 36%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fna1 {
    animation-name: ha1;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes ha1 {
    0% {}
    50% {
        top: 5%;
        left: 2%;
    }
    100% {
        left: 60%;
    }
}

.fna2 {
    animation-name: ha2;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes ha2 {
    0% {}
    50% {
        top: 20%;
        left: 10%;
    }
    100% {
        left: 50%;
    }
}

.fna3 {
    animation-name: ha3;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes ha3 {
    0% {}
    50% {
        top: 35%;
        left: 2%;
    }
    100% {
        left: 60%;
    }
}

.fna4 {
    animation-name: ha4;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes ha4 {
    0% {}
    50% {
        top: 45%;
        left: 0%;
    }
    100% {
        left: 50%;
    }
}

.fna5 {
    animation-name: ha5;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes ha5 {
    0% {}
    50% {
        top: 55%;
        left: 6%;
    }
    100% {
        left: 40%;
    }
}

.fna6 {
    animation-name: ha6;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes ha6 {
    0% {}
    50% {
        top: 0%;
        left: 16%;
    }
    100% {
        left: 40%;
    }
}

.fna7 {
    animation-name: ha7;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes ha7 {
    0% {}
    50% {
        top: 0%;
        left: 13%;
    }
    100% {
        left: 44%;
    }
}

.fna8 {
    animation-name: ha8;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes ha8 {
    0% {}
    50% {
        top: 70%;
        left: 0%;
    }
    100% {
        left: 20%;
    }
}